<ul class="important-articles">
  <li class="article">
    <h2><%= link_to 'Nate Wessel aiming to change the way Cincinnati does maps', 'http://www.urbancincy.com/2013/01/nate-wessel-aiming-to-change-the-way-cincinnati-does-maps/', target: '_blank' %></h2>
    <p>Confused by the maps on the side of the Metro stop? Nate Wessel was, too. The Northeast Ohio started a successful Kickstarter campaign to redesign and distribute 30,000 copies of his updated map. And he's not stopping there, either. Wessel created a property value map and has plans to do a replacement bicycle map for Cincinnati, too.</p>
    <%= link_to 'Read more&hellip;', 'http://www.urbancincy.com/2013/01/nate-wessel-aiming-to-change-the-way-cincinnati-does-maps/', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'Cincinnati among the nation\'s most hungover cities', 'http://www.bizjournals.com/cincinnati/morning_call/2013/01/cincinnati-among-the-nations-most.html', target: '_blank' %></h2>
    <p>Is it the pain of the Bengals' loss on Sunday or last night's beer you're feeling. Either way, you're in familiar company. According to Business Insider Cincinnati is ranked 16th in the nation for the most hungover city.</p>
    <%= link_to 'Read more&hellip;', 'http://www.bizjournals.com/cincinnati/morning_call/2013/01/cincinnati-among-the-nations-most.html', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'Pichler: A Cinderella startup story to watch', 'http://news.cincinnati.com/article/20130105/BIZ/301060012/Pichler-Cinderella-startup-story-watch', target: '_blank' %></h2>
    <p>Cincinnati startup ChoreMonster recently acquired $775,000 in seed-stage funding to continue to develop their web app that makes chores fun for kids. The Enquirer posted a great interview with one of the founders this weekend about the humble beginnings of the app and how it can continue to grow in Cincinnati.</p>
    <%= link_to 'Read more&hellip;', 'http://news.cincinnati.com/article/20130105/BIZ/301060012/Pichler-Cinderella-startup-story-watch', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'Eden Park Pump Station to be reborn as brewery', 'http://news.cincinnati.com/article/20130103/BIZ/301030098/Brewery-remake-gets-1M-tax-credit-boost', target: '_blank' %></h2>
    <p>Thirsty for a beer after the show? You might be in luck. The City of Cincinnati recently offered $1 million in tax credits to a group of investors looking to turn the Eden Park Pump station into a brewery. Although I wouldn't hold my breath. The lead architect Jack Martin says there is still a lot of fundraising to be done.</p>
    <%= link_to 'Read more&hellip;', 'http://news.cincinnati.com/article/20130103/BIZ/301030098/Brewery-remake-gets-1M-tax-credit-boost', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'What\'s next for Bengals?', 'http://news.cincinnati.com/apps/pbcs.dll/article?AID=/AB/20130106/SPT02/301060072/', target: '_blank' %></h2>
    <p>Oof. That was a tough loss for Bengals fans Saturday. After being booted from the playoffs two years in a row by the Texans, the Enquirer's Joe Reedy ponders what's next for the team including what free agents are worth picking up.</p>
    <%= link_to 'Read more&hellip;', 'http://news.cincinnati.com/apps/pbcs.dll/article?AID=/AB/20130106/SPT02/301060072/', target: '_blank', class: 'read-more' %>
  </li>
</ul>
<!-- /important-articles -->