<ul class="important-articles">
  <li class="article">
    <h2><%= link_to 'Strickland: I won’t run in 2014', 'http://cincinnati.com/blogs/politics/2013/01/08/strickland-i-wont-run-in-2014/', target: '_blank' %></h2>
    <p>There goes the comeback story. Ted Strickland announced today he will not be seeking an election fight between him and current Ohio Governor John Kasich in 2014. Strickland said in a statement he will continue to work as a private citizen to build a stronger Ohio. Former FBI-agent Ed FitzGerald and U.S. Rep Tim Ryan are rumored to be the two leading Democratic candidates.</p>
    <%= link_to 'Read more&hellip;', '#', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'Was Hyde Park Flasher \'asking to get caught\'?', 'http://news.cincinnati.com/apps/pbcs.dll/article?AID=/AB/20130108/NEWS/301080088/', target: '_blank' %></h2>
    <p>Hyde Park residents have one thing less to keep an eye out for: the "flasher" that had been harassing women by exposing himself and masturbating turned himself in today. Darnell Dukes, 35, didn't tell police why he turned himself in, but my guess is the recent spat of cold weather had something to do with it.</p>
    <%= link_to 'Read more&hellip;', 'http://news.cincinnati.com/apps/pbcs.dll/article?AID=/AB/20130108/NEWS/301080088/', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'What you need to know about the flu', 'http://news.cincinnati.com/article/20130107/NEWS0103/301070073/What-you-need-know-about-flu', target: '_blank' %></h2>
    <p>While the lede in this Enquirer story is a bit dramatic, there has been a sharp rise this year in the number reported flu cases. The Northern Kentucky Health District currently has the number somewhere around 700 infected in NKY, which is the most since 2003. On a state-wide level, Ohio is reporting 1,230 hospitalization this winter compared to only 71 the year before. Hamilton County, however, seems to be on the low end with just 86 between the same time period. </p>
    <%= link_to 'Read more&hellip;', 'http://news.cincinnati.com/article/20130107/NEWS0103/301070073/What-you-need-know-about-flu', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'Beck suit prompts House ethics look', 'http://news.cincinnati.com/article/20130107/NEWS0108/301070148/EXCLUSIVE-Beck-suit-prompts-House-ethics-look', target: '_blank' %></h2>
    <p>That didn't take long. Just days after his 3rd-term swearing-in ceremony, state Republican Rep. Peter Beck faces an ethic investigation alleging he duped investors out of more than $1.2 million. The suit alleges at least $15,000 went to help win Beck his seat in 2010.</p>
    <%= link_to 'Read more&hellip;', 'http://news.cincinnati.com/article/20130107/NEWS0108/301070148/EXCLUSIVE-Beck-suit-prompts-House-ethics-look', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'Ex-P&Gers find welcome in local start-up scene', 'http://www.soapboxmedia.com/features/010813startups.aspx', target: '_blank' %></h2>
    <p>Who says detergent and technology don't mix? Soapbox has a story up today about a number of former Proctoids who have since ditched the corporate environments to become part of the Cincinnati start-up community.</p>
    <%= link_to 'Read more&hellip;', 'http://www.soapboxmedia.com/features/010813startups.aspx', target: '_blank', class: 'read-more' %>
  </li>
</ul>
<!-- /important-articles -->