<ul class="important-articles">
  <li class="article">
    <h2><%= link_to 'Art All Around Us', 'http://news.cincinnati.com/', target: '_blank' %></h2>
    <p>Maybe you've been to the Cincinnati Art Museum, seen the Cincinnati Ballet or listened to the Cincinnati Symphony Orchestra. Or maybe you’ve never been but wanted to go, and wanted to learn more.</p>
    <p>The season hung there, ripe and low and ready to be picked. You guessed it would come down to the Bengals' best player, needing to deliver his team again. Even if that very same best player was for some strange and h****ideous reason ignored for half the football game.</p>
    <%= link_to 'Read more&hellip;', '#', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'Not enough A.J. Green in Bengals\' playoff loss', 'http://news.cincinnati.com/', target: '_blank' %></h2>
    <p>The season hung there, ripe and low and ready to be picked. You guessed it would come down to the Bengals' best player, needing to deliver his team again. Even if that very same best player was for some strange and h****ideous reason ignored for half the football game.</p>
    <%= link_to 'Read more&hellip;', '#', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'For Boehner, home offers no respite from gripes', 'http://news.cincinnati.com/', target: '_blank' %></h2>
    <p>Here in Ohio’s 8th Congressional District, which stretches north from Butler County to Mercer County, the only people who matter for Boehner’s job are his constituents – in other words, his bosses since he was first elected in 1990.</p>
    <%= link_to 'Read more&hellip;', '#', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'Stocks here beat US return for 2012', 'http://news.cincinnati.com/', target: '_blank' %></h2>
    <p>Overall, The Enquirer 80 &mdash; an index of stocks in public companies either based here or with significant local operations &mdash; outpaced national indexes, an Enquirer analysis shows. </p>
    <%= link_to 'Read more&hellip;', '#', target: '_blank', class: 'read-more' %>
  </li>
  <li class="article">
    <h2><%= link_to 'Kale storm of nutrition', 'http://news.cincinnati.com/', target: '_blank' %></h2>
    <p>There are techniques other than roasting that can tastefully work the antioxidant-, vitamin- and mineral-rich, low-fat and low-calorie vegetable into your diet, said Meg Galvin, a 12-year instructor at Cincinnati State’s Midwest Culinary Institute and author of "The SparkPeople Cookbook".</p>
    <%= link_to 'Read more&hellip;', '#', target: '_blank', class: 'read-more' %>
  </li>
</ul>
<!-- /important-articles -->